/* input.css */
.input {
    display: flex;
    height: 2.25rem;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid var(--input);
    background-color: transparent;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 150ms;
  }
  
  .input::file-selector-button {
    border: 0;
    background-color: transparent;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--foreground);
  }
  
  .input::placeholder {
    color: var(--muted-foreground);
  }
  
  .input:focus-visible {
    outline: none;
    box-shadow: 0 0 0 1px var(--ring);
  }
  
  .input:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  @media (min-width: 768px) {
    .input {
      font-size: 0.875rem;
    }
  }